body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.weather {
  background-color: #01161b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70%;
  gap: 1.25rem;
}

.search-box {
  background-color: #2f4449;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.location-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  margin: 0 0 0.3rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.time-date {
  margin: 0;
  font-size: small;
}

.condition {
  font-size: small;
}

.search-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 50%;
  padding: 0.5rem 0;
  color: white;
}

.search-input:focus {
  outline: none;
}

#search-btn {
  background-color: #57d3cb;
  border: none;
  color: white;
  padding: 0.7rem 4rem;
  border-radius: 0.5rem;
}

.condition-img {
  width: 4rem;
  height: 4rem;
}

@media screen and (min-width: 756px) {
  .weather {
    justify-content: center;
    flex-direction: row;
    height: 85%;
  }

  .location-details {
    align-items: unset;
  }

  .search-box {
    height: 15%;
    flex-direction: row;
    gap: 1rem;
  }

  .condition-img {
    width: 2rem;
    height: 2rem;
  }
}
